{#

This file is part of the Allegro Package.

(c) Arturo Rodríguez <arturo@fugadigital.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{# Available vars:
    resourceSlug:   The resource slug
#}
<html>
    <body>
        <article class="error">
            <h2>Are you sure {{ resourceSlug }} is a real thing?</h2>
        </article>
    </body>
</html>
