{#

This file is part of the Allegro Package.

(c) Arturo Rodríguez <arturo@fugadigital.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<a class="btn btn-sm btn-default edit_link" title="Tree" href="{{ admin.generateObjectUrl('pages_tree', object) }}">
    <i class="glyphicon glyphicon-indent-left"></i>
    Tree
</a>
