{#

This file is part of the Allegro Package.

(c) Arturo Rodríguez <arturo@fugadigital.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{# Available vars:
    page:           The page entity
    translation:    The current translation
    children:       array(PageTranslation) translations of children
    localeRoutes:   array(lang=>route)
    breadcrumbs:    array(Page)
#}
{% extends allg_template('layout.html') %}

{% block title %}4 0 4{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        filter='cssrewrite'
        output='css/gen_corporatex_404.css'
        'bundles/allegrosites/corporatex/css/404.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock stylesheets %}

{% block head %}
{% endblock %}

{% block main_content %}
    <article class="error">
        <header>
            {%
                include allg_template('locale_links.html')
                with { 'routes': localeRoutes } only
            %}

            <h1>4 0 4</h1>

            <h2>Ermahgerd Error</h2>
            <h2>Resource '{{ resourceSlug }}' not found</h2>
        </header>
    </article>
{% endblock main_content %}

{% block sidebar_container '' %}
